.Drawer-backdrop-1JSar {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    transition-duration: .3s;
}

.Drawer-backdrop_close-1ZmMo {
    visibility: hidden;
    opacity: 0;
}

.Drawer-backdrop_open-PhpYn {
    visibility: visible;
    opacity: 0.4;
}

.Drawer-backdrop_transition-1ntUq {
    opacity: calc(0.4 * var(--var-degree, 0.5)) !important;
    transition: none !important;
    visibility: visible;
}

.Drawer-drawer-26gbu {
    top: 0;
    left: 0;
    transform: translateX(-100%);
    position: fixed;
    z-index: 1010;
    height: 100vh;
    transition: .3s;
}

.Drawer-drawer_transition-2KI7j {
    transform: translateX(var(--var-position, -100%)) !important;
    transition: none !important;
}

.Drawer-drawer_open-2ndPl {
    transform: none;
}
.index-menu-2fXCV {
    height: 100vh;
    background-color: white;
}

.index-list-SciL9 {
    margin: 0;
    padding: 0;
}

.index-item-2BQYt {
    display: block;
    padding: 8px 10px;
}

.index-item-2BQYt a {
    text-decoration: none;
    color: inherit;
}

.index-item-2BQYt:hover {
    background-color: #f9f9f9;
}

.index-content-jspCU {
    height: 2000px;
}
